ud851-Exercises.zip
friendlychat.zip
*.suo
/GrouperApp/.vs/GrouperApp/v15/Server/sqlite3
/GrouperApp/GrouperApp/obj/Debug
/GrouperApp/GrouperApp/bin/Debug/GrouperApp.exe
/GrouperApp/GrouperApp/bin/Debug/GrouperApp.exe.config
*.pdb
*.pdb
*.pdb
SortedDictionaryType/.vs/SortedDictionaryType/v15/Server/sqlite3/storage.ide-wal
SortedDictionaryType/.vs/SortedDictionaryType/v15/Server/sqlite3/storage.ide-shm
SortedDictionaryType/.vs/SortedDictionaryType/v15/Server/sqlite3/storage.ide
SortedDictionaryType/SortedDictionaryType/bin/Debug/SortedDictionaryType.exe
SortedDictionaryType/SortedDictionaryType/bin/Debug/SortedDictionaryType.exe.config
SortedDictionaryType/SortedDictionaryType/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SortedDictionaryType/SortedDictionaryType/obj/Debug/SortedDictionaryType.csproj.CoreCompileInputs.cache
SortedDictionaryType/SortedDictionaryType/obj/Debug/SortedDictionaryType.csproj.FileListAbsolute.txt
SortedDictionaryType/SortedDictionaryType/obj/Debug/SortedDictionaryType.csprojAssemblyReference.cache
SortedDictionaryType/SortedDictionaryType/obj/Debug/SortedDictionaryType.exe
SortedDictionaryType/SortedDictionaryType/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SortedDictionaryType/SortedDictionaryType/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SortedDictionaryType/SortedDictionaryType/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RootedTreeEx/Graphs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RootedTreeEx/Graphs/obj/Debug/Graphs.csproj.CoreCompileInputs.cache
RootedTreeEx/Graphs/obj/Debug/Graphs.csproj.FileListAbsolute.txt
RootedTreeEx/Graphs/obj/Debug/Graphs.csprojAssemblyReference.cache
RootedTreeEx/Graphs/obj/Debug/Graphs.dll
RootedTreeEx/.vs/RootedTreeEx/v15/Server/sqlite3/storage.ide-wal
RootedTreeEx/.vs/RootedTreeEx/v15/Server/sqlite3/storage.ide-shm
RootedTreeEx/.vs/RootedTreeEx/v15/Server/sqlite3/storage.ide
RootedTreeEx/.vs/RootedTreeEx/v15/Server/sqlite3/db.lock
RootedTreeEx/Graphs/bin/Debug/Graphs.dll
RootedTreeEx/Graphs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RootedTreeEx/Graphs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RootedTreeEx/Graphs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RootedTreeEx/Node/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RootedTreeEx/Node/obj/Debug/Node.csproj.CoreCompileInputs.cache
RootedTreeEx/Node/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RootedTreeEx/Node/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RootedTreeEx/Node/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RootedTreeEx/TreeExercise/bin/Debug/Graphs.dll
RootedTreeEx/TreeExercise/bin/Debug/TreeExercise.exe
RootedTreeEx/TreeExercise/bin/Debug/TreeExercise.exe.config
RootedTreeEx/TreeExercise/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RootedTreeEx/TreeExercise/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RootedTreeEx/TreeExercise/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RootedTreeEx/TreeExercise/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RootedTreeEx/TreeExercise/obj/Debug/TreeExercise.csproj.CopyComplete
RootedTreeEx/TreeExercise/obj/Debug/TreeExercise.csproj.CoreCompileInputs.cache
RootedTreeEx/TreeExercise/obj/Debug/TreeExercise.csproj.FileListAbsolute.txt
RootedTreeEx/TreeExercise/obj/Debug/TreeExercise.csprojAssemblyReference.cache
RootedTreeEx/TreeExercise/obj/Debug/TreeExercise.exe
*.dll
*.txt
*.cache
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/TestStore/0/testlog.manifest
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/TestStore/0/000.testlog
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/Solution.VC.db-wal
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/Solution.VC.db-shm
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/Solution.VC.db
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/ipch/91d0066299954f98.ipch
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/Browse.VC.opendb
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/Browse.VC.db-wal
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/Browse.VC.db-shm
BusSystemStaticLib/.vs/BusSystemStaticLib/v16/Browse.VC.db
